fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv

SQLAlchemy
psycopg2-binary

langchain
langchain-community
langchain-openai
langchain-tavily
tiktoken
langsmith
tavily-python
beautifulsoup4

python-jose[cryptography]
python-keycloak

secure-smtplib

APScheduler
pydantic
pydantic-ai-slim[openai]==0.0.19
langchain_postgres
psycopg[binary,pool]
pypdf==4.2.0
