fastapi
uvicorn
psycopg2-binary
SQLAlchemy
openai
langchain
langchain-openai
requests
python-dotenv
langchain-community
langchain
tiktoken
langchain-community
langsmith
tavily-python
langchain-tavily
python-multipart
python-jose
secure-smtplib
python-jose[cryptography]
python-keycloak
